{% extends "base.html" %}



{% block content %}
  <div class="row">
    <div class="col-md-9">
      <article class="post post-1">
        <header class="entry-header">
          <h1 class="entry-title">
            <a href="#">文章标题</a>
          </h1>
          <div class="entry-meta">
            <span class="post-category"><a>{{ 1 }}</a></span>
            <span class="post-date"><a><time class="entry-date">2021-1-1</time></a></span>
            <span class="post-author"><a>qazasdsdqaza</a></span>
            <span class="comments-link"><a>666 评论</a></span>
            <span class="views-count"><a>363 阅读</a></span>
          </div>
        </header>
        <div class="entry-content clearfix">
          <p>
            但安慰零担安唯绫单安唯绫大类开机啊万灵丹安唯绫但安慰零
            档案精当爱玩的辣味加大框外骄傲另外jaw零担安唯绫但类开
            大家五矿单安唯绫打完带领啊但阿五矿单安唯绫大奖开爱玩矿
          </p>
          <div class="read-more cl-effect-14">
            <a href='#' class="more-link">点我阅读
              <span class="meta-nav">→</span></a>
          </div>
        </div>
      </article>
    </div>

    <div class="col-md-3">
      <div class="widget widget-recent-posts">
        <h3 class="widget-title">最新文章</h3>
        <ul>
          <li style="list-style: none"><a href="#">第1篇文章</a></li>
          <li style="list-style: none"><a href="#">第2篇文章</a></li>
          <li style="list-style: none"><a href="#">第3篇文章</a></li>
          <li style="list-style: none"><a href="#">第4篇文章</a></li>
          <li style="list-style: none"><a href="#">第5篇文章</a></li>
        </ul>

        <h3 class="widget-title">归档</h3>
        <ul>
          <li style="list-style: none"><a href="#">2021-01</a></li>
        </ul>
        <h3 class="widget-title">分类</h3>
        <ul>
          <li style="list-style: none"><a href="#">随笔</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
