{% extends 'base.html' %}
{% load static thumbnail %}

{% block title %}搜索 - {{ block.super }} {% endblock %}

{% block content %}

    <!-- Page Content -->
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">首页</a></li>
                <li class="breadcrumb-item active"><a href="#">搜索结果</a></li>
            </ol>
        </nav>
        <!-- row -->
        <div class="row">
            <div class="col-md-3">
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-articles-list" data-toggle="list"
                       href="#list-articles"
                       role="tab" aria-controls="articles">文章</a>

                    {#                    <a class="list-group-item list-group-item-action" id="list-news-list" data-toggle="list"#}
                    {#                       href="#list-news" role="tab"#}
                    {#                       aria-controls="news">作者</a>#}
                    {##}
                    {#                    <a class="list-group-item list-group-item-action" id="list-questions-list" data-toggle="list"#}
                    {#                       href="#list-questions" role="tab"#}
                    {#                       aria-controls="questions">问题</a>#}
                    {##}
                    {#                    <a class="list-group-item list-group-item-action" id="list-users-list" data-toggle="list"#}
                    {#                       href="#list-users" role="tab"#}
                    {#                       aria-controls="users">用户</a>#}
                    {##}
                    {#                    <a class="list-group-item list-group-item-action" id="list-tags-list" data-toggle="list"#}
                    {#                       href="#list-tags" role="tab"#}
                    {#                       aria-controls="tags">标签</a>#}
                </div>
            </div>

            <div class="col-md-9">
                <div class="tab-content" id="nav-tabContent">
                    {% for result in page.object_list %}

                        {% if result.app_label == 'blog' %}
                            <div class="tab-pane fade show active" id="list-articles" role="tabpanel"
                                 aria-labelledby="list-articles-list">
                                <div class="card mb-4">
                                    <div class="card-body">
                                        <h2 class="card-title"><a
                                                href="/detail.html/{{ result.object.id }}">{{ result.object.title|title }}</a>
                                        </h2>
{#                                        <p class="card-text">{{ result.object.content|safe|truncatechars:100 }}</p>#}
                                        <div class="entry-meta">
                                            <span class="post-date"><a><time
                                                    class="entry-date">{{ result.object.created_time }}</time></a></span>
                                            <span class="post-author"><a>作者: {{ result.object.author }}</a></span>
                                            <span class="comments-link"><a>{{ result.object.comments_num }} 评论</a></span>
                                            <span class="views-count"><a>{{ result.object.read_count }} 阅读</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% empty %}
                        <h4 class="no-data">没有您要的搜索结果，换个关键字试试</h4>
                    {% endfor %}

                    <nav aria-label="Page navigation example">
                        <ul class="pagination">

                                {% if page.has_previous %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?q={{ query }}&page={{ page.previous_page_number }}">上一页</a>
                                    </li>
                                {% endif %}
                                {% for item in paginator.page_range %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?q={{ query }}&page={{ item }}">{{ item }}</a></li>
                                {% endfor %}
                                {% if page.has_next %}
                                    <li class="page-item"><a class="page-link"
                                                             href="?q={{ query }}&page={{ page.next_page_number }}">下一页</a></li>
                                {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

{% endblock content %}

{#<div>#}
{#    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo;#}
{#    Previous{% if page.has_previous %}</a>{% endif %}#}
{#    |#}
{#    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;#}
{#    {% if page.has_next %}</a>{% endif %}#}
{#</div>#}

