{% extends 'blog_base.html' %}

{% block head %}
{{ block.super }}
{% endblock %}
{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-8">
                    <article class="post post-1">
                        {% for i in context.page %}
                            <header class="entry-header">
                                <h1 class="entry-title">
                                    <a href="/detail.html/{{ i.id }}/">{{ i.title }}</a>
                                </h1>
                                <div class="entry-meta">
                                    <span class="post-category"><a>{{ 1 }}</a></span>
                                    <span class="post-date"><a><time class="entry-date">{{ i.created_time }}</time></a></span>
                                    <span class="post-author"><a>{{ i.author }}</a></span>
                                    <span class="comments-link"><a>{{ i.comments_num }} 评论</a></span>
                                    <span class="views-count"><a>{{ i.read_count }} 阅读</a></span>
                                </div>
                            </header>
                            <div class="entry-content clearfix">
{#                                <p>{{ i.content|safe|truncatewords:10 }}......</p>#}
                                <div class="read-more cl-effect-14">
                                    <a href='/detail.html/{{ i.id }}/' class="more-link">点我阅读
                                        <span class="meta-nav">→</span></a>
                                </div>
                            </div>
                        {% endfor %}
                    </article>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            {% if context.page.has_previous %}
                                <li class="page-item">
                                    <a class="page-link" href="?page={{ context.page.previous_page_number }}">
                                        上一页</a></li>
                            {% endif %}
                            {% for item in context.page_range %}
                                {% if context.current_page == item %}
                                    <li class="page-item active">
                                        <a class="page-link" href="?page={{ item }}">{{ item }}</a>
                                    </li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ item }}">{{ item }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if context.page.has_next %}
                                <li class="page-item">
                                <a class="page-link" href="?page={{ context.page.next_page_number }}">下一页</a>
                            {% endif %}
                            </li>
                        </ul>
                    </nav>
                </main>
                {{ block.super }}

            </div>
        </div>
    </div>
{% endblock %}


