{% extends 'blog_base.html' %}

{% block content %}
    <div class="content-body">
        <div class="container">
            <div class="row">
                <main class="col-md-12">
                    <h1 class="page-title">关于我</h1>
                    <article class="post">
                        <div class="entry-content clearfix">
                            <figure class="img-responsive-center">
                                <img class="img-responsive" src="{% static 'img/me.jpg' %}" alt="Developer Image">
                            </figure>
                            <p>
                                我没有什么爱好，我只喜欢在我这个狭小的窝里上网、敲代码、学习、或者看看电影，然后写写博客，我没有什么伟大的梦想，只想有一个属于自己的房子，一份稳定的工作，平平淡淡的过一生就好！</p>
                            <p>人的一生是在学习中度过，在追求中获得生存。学习的过程，就是探索，研究的过程，从不了解到了解，从无知到掌握，到灵活运用，在不断的学习中加深认识的过程。</p>
                            <p><h3>联系方式QQ/微信: 1571311535</h3></p>
                            <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=Tz4uNS48KzwrPi41Lg8_PmEsICI" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_02.png"/></a>
                            <div class="height-40px"></div>
                        </div>
                    </article>
                </main>
            </div>
        </div>
    </div>
    <footer id="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {#                    <p class="copyright">&copy; 2014 ThemeWagon.com</p>#}
                </div>
            </div>
        </div>
    </footer>
{% endblock %}


